body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.input-container label, .input-container input, .input-container button {
  display: block;
  margin-bottom: 10px;
}

#btn-acessar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#btn-acessar:hover {
  background-color: #45a049;
}

.status-container {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
